# ------ FRONTEND ENV VARS ------
VITE_BACKEND_URL=http://localhost:5173


# ------ BACKEND ENV VARS ------
FRONTEND_URL=example_env_vars
PORT=example_env_vars
MONGO_URI=example_env_vars
GOOGLE_DRIVE_FOLDER_ID=example_env_vars
NODE_ENV=example_env_vars
JWT_SECRET=example_env_vars
GOOGLE_REFRESH_TOKEN=example_env_vars
GOOGLE_CIENT_ID=example_env_vars
GOOGLE_CLIENT_SECRET=example_env_vars
GOOGLE_REDIRECT_URI=example_env_vars